.autoparts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autoparts__listWrapper {
  margin-bottom: 70px;
}

.autoparts__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.autoparts__searchWrapper {
  margin-top: 15px;
  margin-bottom: 30px;
}

.autoparts__descText {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.autoparts__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}

.autoparts__searchButton {
  display: none;
}

@media (max-width: 1439px) {
  .autoparts {
    padding: var(--section-padding-1439);
  }
}

@media (max-width: 720px) {
  .autoparts {
    padding: var(--section-padding-720);
  }
  .autoparts__searchButton {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}


.input {
  border: 1px solid #000;
}