.support {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.support__imgWrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.support__imgWrapper::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  border: 10px solid transparent; 
  border-bottom: 10px solid var(--color-secondary); 
  border-left: 10px solid var(--color-secondary);
  z-index: 2;
  transform: rotate(-3deg);
}

.support__img {
  position: absolute;
  z-index: 11;
  top: 10px;
  left: 10px;
}

.support__modal {
  position: absolute;
  bottom: 14px;
  right: 14px;
}