.search {
  margin-top: 15px;
  margin-bottom: 30px;
}

.search__buttons {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 720px) {
  .search__buttons {
    gap: 20px;
  }
}