.promo {
  background-image: url('./../../shared/assets/img/promo.jpg');
  background-position: center;
  height: 500px;
  width: auto;
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__header,
.promo__subheader,
.promo__desc {
  color: #fff;
}

.promo__header {
  font-size: 52px;
  margin-top: 30px;
  font-weight: 700;
}

.promo__subheader {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 40px;
}

.promo__desc {
  font-size: 18px;
  margin-top: 10px;
}

.promo__searchWrapper {
  margin-top: 40px;
}

@media (max-width: 720px) {
  .promo__searchWrapper {
    margin-top: 30px;
  }
  .promo__header {
    font-weight: 600;
  }
  .promo__subheader {
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .promo {
    height: 400px;
  }
  .promo__header {
    font-size: 36px;
    margin-top: -5px;
  }
  .promo__subheader {
    font-size: 24px;
  }
  .promo__desc {
    font-size: 12px;
  }
}