.chat {
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 240px;
  right: 16px;
  z-index: 10;
  border-radius: 10px;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 6px;
  transition: var(--transition-variable);
  opacity: 0;
}

.active {
  opacity: 1;
}

.chat__header {
  font-weight: 600;
  font-size: 16px;
}

.chat__wrapper {
  background-color: var(--color-bg-primary);
  border-radius: 10px;
  overflow: scroll;
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat__messagesWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.chat__message {
  margin-bottom: 10px;
}

.chat__userMessage {
  text-align: right;
  margin-left: auto;
}

.chat__message,
.chat__inputWrapper {
  padding: 6px;
  border: 1px solid var(--color-bg-secondary);
  font-size: 14px;
  border-radius: 10px;
  width: 200px;
}

.chat__inputWrapper {
  width: 260px;
  height: 34px;
  position: relative;
}

.chat__send {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.input {
  width: 248px;
}

.input:focus {
  outline: none !important;
}